.message{"data-id": "#{message.id}"}
  .group-name
    = message.user.name
  .created-at
    = message.created_at.to_formatted_s(:datetime)
  .text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?