.chat-left
  = render 'devise/shared/side_bar'
.chat-main
  .chat-main__header
    .main-left
      group1-name
    = link_to "https://tech-camp.in/inazuma/summer" do
      %e{class: "edit"}Edit
    .main-group
      Member：Kouyama
  .messages
    .group-name
      Kouyama
    .created-at
      2019/09/01(Sun) 12:10:49
    .text
      テスト
    .group-name
      Kouyama
    .created-at
      2019/09/06(Fri) 14:14:13
    .text
      こんにちは！
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image do
          = fa_icon 'picture-o', class: 'icon-option'
          = f.file_field :image, class: 'image-option'
      = f.submit 'Send', class: 'send'