.chat-left
  = render 'devise/shared/side_bar'
.chat-main
  .chat-main__header
    .main-left
      = @group.name
    = link_to edit_group_path(@group.id) do
      %e{class: "edit"}Edit
    .main-group
      Member：
      - @group.users.each do |user|
        %li.main-group__member
          = user.name
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image do
          = fa_icon 'picture-o', class: 'icon-option'
          = f.file_field :image, class: 'image-option'
      = f.submit 'Send', class: 'send'